# MongoDB Docker Tutorial

## 1. MongoDB Docker 

- https://poiemaweb.com/docker-mongodb
- https://www.bmc.com/blogs/mongodb-docker-container/

```bash
# MongoDB image 다운로드
$ docker pull mongo

# MongoDB image 확인
$ docker images

# MongoDB Container 구동
$ docker run --name mongodb-container -v ~/data_db:/data/db -d -p 27017:27017 mongo

# MongoDB Docker 컨테이너 중지
$ docker stop mongodb-container

# MongoDB Docker 컨테이너 시작
$ docker start mongodb-container

# MongoDB Docker 컨테이너 재시작
$ docker restart mongodb-container

# MongoDB Docker 컨테이너 접속
$ docker exec -it mongodb-container bash
```

## 2. MongDB Basics & Shell Commands 
- Database > Collections > Documents
- Database
    - In MongoDB, a database contains the collections of documents. One can create multiple databases on the MongoDB server.  
    
- Collections
    - Collections are just like tables in relational databases, they also store data, but in the form of documents. A single database is allowed to store multiple collections. 
    
- Schemaless:
    - As we know that MongoDB databases are schemaless. So, it is not necessary in a collection that the schema of one document is similar to another document. Or in other words, a single collection contains different types of documents.
    
- Documetns
    - In MongoDB, the data records are stored as BSON documents. Here, BSON stands for binary representation of JSON documents, although BSON contains more data types as compared to JSON. The document is created using field-value pairs or key-value pairs and the value of the field can be of any BSON type. 
    
- ref. https://www.geeksforgeeks.org/mongodb-database-collection-and-document/
    
```bash
# Docker Container 에서 mongo db 접속
mongo 

# mongodb database 확인
show dbs

# test3 database 생성 및 전환 (실제 생성 시점은 database에 content가 있을때) 
use test3

# test3 database에서 'phil' collection 생성 document 저장 
db.phil.insertOne({"hello" : ['hi','sad','happy'], '_id' : '0'})
db.phil.insertOne({"hello" : ['hi','sad','happy','for real?'], '_id' : '1'})

# document 확인 
db.phil.find();

# id 로 찾기 
db.phil.find({'_id' : "0"})
db.phil.find({'_id' : "1"})
```

## 3. PyMongo 설치

```bash
$ pip install pymongo
```

## 4. Python MongoDB Client

```python
from pymongo import MongoClient

# 방법1 - URI
mongodb_URI = "mongodb://localhost:27017/"
client = MongoClient(mongodb_URI)

# 방법2 - HOST, PORT
client = MongoClient(host='localhost', port=27017)
```

## 5. Python MongoDB Apis

In [26]:
from pymongo import MongoClient

client = MongoClient(host='localhost', port=27017)

In [27]:
# MongoDB Database 확인
for db in client.list_databases():
    print(db)

{'name': 'admin', 'sizeOnDisk': 40960, 'empty': False}
{'name': 'config', 'sizeOnDisk': 110592, 'empty': False}
{'name': 'local', 'sizeOnDisk': 40960, 'empty': False}
{'name': 'test', 'sizeOnDisk': 40960, 'empty': False}
{'name': 'test2', 'sizeOnDisk': 40960, 'empty': False}
{'name': 'test3', 'sizeOnDisk': 73728, 'empty': False}

### 5.1. Database & Collection 생성 및 삭제

In [28]:
# MongoDB Database 생성

# 실제 database 생성 시점은 data가 database에 존재해야함
db = client["test2"]

# collection 생성
col = db["test"]

# document 생성
doc = {"hello" : "world", "hi" : "world"}

# document mongodb 
x = col.insert_one(doc)

In [29]:
# "test" DB 생성 확인
for db in client.list_databases():
    print(db)

{'name': 'admin', 'sizeOnDisk': 40960, 'empty': False}
{'name': 'config', 'sizeOnDisk': 110592, 'empty': False}
{'name': 'local', 'sizeOnDisk': 40960, 'empty': False}
{'name': 'test', 'sizeOnDisk': 40960, 'empty': False}
{'name': 'test2', 'sizeOnDisk': 40960, 'empty': False}
{'name': 'test3', 'sizeOnDisk': 73728, 'empty': False}

In [31]:
# MongoDB 'test' Database 삭제

print("List of databases before deletion\n--------------------------")
for x in client.list_database_names():
  print(x)
  
#delete database named 'test'
client.drop_database('test')

print("\nList of databases after deletion\n--------------------------")
for x in client.list_database_names():
  print(x)

List of databases before deletion
--------------------------
admin
config
local
test
test2
test3

List of databases after deletion
--------------------------
admin
config
local
test2
test3

In [32]:
# MongoDB 'test3' Database Collection 확인
mydb = client['test3']

print("List of collections\n--------------------")
#list the collections
for coll in mydb.list_collection_names():
    print(coll)

List of collections
--------------------
phil

In [33]:
# MongoDB 'test3' Database phil2 Collection 추가
col2 = mydb['phil2']
doc2 = {"hello" : ['hi','sad','happy','for real?'], '_id' : '0', 'hihi' : 'real'}
col2.insert_one(doc2)

In [35]:
print("List of collections\n--------------------")
for coll in mydb.list_collection_names():
    print(coll)

List of collections
--------------------
phil
phil2

In [36]:
# MongoDB 'test3' Database phil2 Collection 삭제 
print("List of collections before deletion\n--------------------------")
for x in mydb.list_collection_names():
  print(x)
  
#get collection named "developers"
mycol = mydb["phil2"]
  
#delete or drop collection
mycol.drop()

print("\nList of collections after deletion\n--------------------------")
for x in mydb.list_collection_names():
  print(x)

List of collections before deletion
--------------------------
phil
phil2

List of collections after deletion
--------------------------
phil

### 5.2. Update Document (Single, Multi)

In [49]:
# "test3" Database - "phil" collection - update single document 
phil_collection = client['test3']['phil']
document = { "name": "Kiku", "address": "Germany" }
# document2 = {"key":"value", "name": "Kiku", "address": "Germany" }
phil_collection.insert_one(document)

In [50]:
# print all the documents in the collection
for x in phil_collection.find():
  print(x)

{'_id': '0', 'hello': ['hi', 'sad', 'happy']}
{'_id': '1', 'hello': ['hi', 'sad', 'happy', 'for real?']}
{'_id': ObjectId('62974cdfce1ef8a58ac6f157'), 'name': 'Kiku', 'address': 'Germany'}
{'_id': ObjectId('62974e1ace1ef8a58ac6f158'), 'name': 'Kiku', 'address': 'Germany'}

In [52]:
# find document by _id
result = phil_collection.find({'_id' : '1'})
for doc in result:
    print(doc)

{'_id': '1', 'hello': ['hi', 'sad', 'happy', 'for real?']}

In [53]:
# Update multiple Document
#list of documents
list = [{ "name": "Kiku", "address": "Germany" },
		{ "name": "Lini", "address": "Sweden" },
		{ "name": "Sree", "address": "India" },
		{ "name": "Raghu", "address": "India" },
		{ "name": "Mams", "address": "France" }]

#insert multiple documents
x = phil_collection.insert_many(list)

print('ids of inserted documents\n---------------------')
for id in x.inserted_ids:
	print(id)

ids of inserted documents
---------------------
62974e71ce1ef8a58ac6f159
62974e71ce1ef8a58ac6f15a
62974e71ce1ef8a58ac6f15b
62974e71ce1ef8a58ac6f15c
62974e71ce1ef8a58ac6f15d

In [54]:
# print all the documents in the collection
for x in phil_collection.find():
  print(x)

{'_id': '0', 'hello': ['hi', 'sad', 'happy']}
{'_id': '1', 'hello': ['hi', 'sad', 'happy', 'for real?']}
{'_id': ObjectId('62974cdfce1ef8a58ac6f157'), 'name': 'Kiku', 'address': 'Germany'}
{'_id': ObjectId('62974e1ace1ef8a58ac6f158'), 'name': 'Kiku', 'address': 'Germany'}
{'_id': ObjectId('62974e71ce1ef8a58ac6f159'), 'name': 'Kiku', 'address': 'Germany'}
{'_id': ObjectId('62974e71ce1ef8a58ac6f15a'), 'name': 'Lini', 'address': 'Sweden'}
{'_id': ObjectId('62974e71ce1ef8a58ac6f15b'), 'name': 'Sree', 'address': 'India'}
{'_id': ObjectId('62974e71ce1ef8a58ac6f15c'), 'name': 'Raghu', 'address': 'India'}
{'_id': ObjectId('62974e71ce1ef8a58ac6f15d'), 'name': 'Mams', 'address': 'France'}

### 5.3. Delete Document (Single, Multi)

In [55]:
from bson.objectid import ObjectId

In [58]:
# "test3" Database - "phil" collection - delete single document 
phil_collection = client['test3']['phil']

print('Documents in Collection\n-----------------------')
for doc in phil_collection.find():
    print(doc)
    
# delete '_id': ObjectId('62974e1ace1ef8a58ac6f158')
query = {'_id' : ObjectId('62974e1ace1ef8a58ac6f158')}
phil_collection.delete_one(query)
                          
print('\nDocuments in Collection after delete_one()\n-----------------------')
for doc in phil_collection.find():
    print(doc)

Documents in Collection
-----------------------
{'_id': '0', 'hello': ['hi', 'sad', 'happy']}
{'_id': '1', 'hello': ['hi', 'sad', 'happy', 'for real?']}
{'_id': ObjectId('62974cdfce1ef8a58ac6f157'), 'name': 'Kiku', 'address': 'Germany'}
{'_id': ObjectId('62974e1ace1ef8a58ac6f158'), 'name': 'Kiku', 'address': 'Germany'}
{'_id': ObjectId('62974e71ce1ef8a58ac6f159'), 'name': 'Kiku', 'address': 'Germany'}
{'_id': ObjectId('62974e71ce1ef8a58ac6f15a'), 'name': 'Lini', 'address': 'Sweden'}
{'_id': ObjectId('62974e71ce1ef8a58ac6f15b'), 'name': 'Sree', 'address': 'India'}
{'_id': ObjectId('62974e71ce1ef8a58ac6f15c'), 'name': 'Raghu', 'address': 'India'}

Documents in Collection after delete_one()
-----------------------
{'_id': '0', 'hello': ['hi', 'sad', 'happy']}
{'_id': '1', 'hello': ['hi', 'sad', 'happy', 'for real?']}
{'_id': ObjectId('62974cdfce1ef8a58ac6f157'), 'name': 'Kiku', 'address': 'Germany'}
{'_id': ObjectId('62974e71ce1ef8a58ac6f159'), 'name': 'Kiku', 'address': 'Germany'}
{'_id': ObjectId('62974e71ce1ef8a58ac6f15a'), 'name': 'Lini', 'address': 'Sweden'}
{'_id': ObjectId('62974e71ce1ef8a58ac6f15b'), 'name': 'Sree', 'address': 'India'}
{'_id': ObjectId('62974e71ce1ef8a58ac6f15c'), 'name': 'Raghu', 'address': 'India'}

In [59]:
# "test3" Database - "phil" collection - delete multiple document 
print('Documents in Collection\n-----------------------')
for doc in phil_collection.find():
    print(doc)

# query to delete document
query = {'address':'India'}

#delete many document
phil_collection.delete_many(query)

print('\nDocuments in Collection after delete_many	()\n-----------------------')
for doc in phil_collection.find():
    print(doc)

Documents in Collection
-----------------------
{'_id': '0', 'hello': ['hi', 'sad', 'happy']}
{'_id': '1', 'hello': ['hi', 'sad', 'happy', 'for real?']}
{'_id': ObjectId('62974cdfce1ef8a58ac6f157'), 'name': 'Kiku', 'address': 'Germany'}
{'_id': ObjectId('62974e71ce1ef8a58ac6f159'), 'name': 'Kiku', 'address': 'Germany'}
{'_id': ObjectId('62974e71ce1ef8a58ac6f15a'), 'name': 'Lini', 'address': 'Sweden'}
{'_id': ObjectId('62974e71ce1ef8a58ac6f15b'), 'name': 'Sree', 'address': 'India'}
{'_id': ObjectId('62974e71ce1ef8a58ac6f15c'), 'name': 'Raghu', 'address': 'India'}

Documents in Collection after delete_many	()
-----------------------
{'_id': '0', 'hello': ['hi', 'sad', 'happy']}
{'_id': '1', 'hello': ['hi', 'sad', 'happy', 'for real?']}
{'_id': ObjectId('62974cdfce1ef8a58ac6f157'), 'name': 'Kiku', 'address': 'Germany'}
{'_id': ObjectId('62974e71ce1ef8a58ac6f159'), 'name': 'Kiku', 'address': 'Germany'}
{'_id': ObjectId('62974e71ce1ef8a58ac6f15a'), 'name': 'Lini', 'address': 'Sweden'}